body{
    background: #ffffff;
    margin: 0;
    padding: 0;
}
.contenido{
    background: rgba(112, 165, 214, 0.43);
    border-radius: 30px;
    width: auto;
    padding: 1em 3em;
    margin: 2em 17.5%;
}
.inicio h2{
    text-align: center;
}

#footer{
   background: rgba(112, 165, 214, 0.43);
   padding:100px 200px;
}


  
  